<!DOCTYPE html>
<html lang="en">

<%- include("../templates/head.ejs" , {title: 'Home'}) %>


<body class="bg-gradient-to-b from-pink-400 via-white to-gray-700 bg-no-repeat">

    <%- include("../templates/header.ejs") %>
        <main class="flex flex-col">
            <%- include('../templates/body-upper.ejs'); %>
                <%- include('../templates/body-middle.ejs'); %>
        </main>

        <%- include("../templates/footer.ejs") %>


</body>

</html>