<!DOCTYPE html>
<html lang="en">

<%- include("../templates/head.ejs" , {title: 'Products' }) %>


    <body class="bg-gradient-to-b from-pink-400 via-white to-gray-700 bg-no-repeat" onload="removeLC()"
        style="scrollbar-width: none;">

        <%- include("../templates/header.ejs") %>

            <main class="w-full py-5 flex flex-col justify-center items-start">
                <% for(let i=0 ; i< categories.length; i++){ %>
                    <%- include("../templates/categories.ejs",{categoryList : categoriesList.filter(e=>e.category ==
                        categories[i].name), category : categories[i].name }) %>
                        <%}%>

                            <div class="w-full flex justify-center items-center border-t-2 m-3 pt-5">
                                <button id="go"
                                    class=" border-2 px-5 py-3 text-white font-bold rounded-md hover:bg-gray-500">
                                    <img src="/cart.svg" alt="cart">cart
                                </button>
                            </div>

                            <script>
                                

                                let selectedIds = {}
                                let categories = JSON.parse('<%- JSON.stringify(categories) %>')
                                for (let i = 0; i < categories.length; i++) {
                                    selectedIds[categories[i].name] = null
                                }


                                function removeLC() {
                                    categories.forEach(e => {
                                        localStorage.removeItem(e.name);
                                    });
                                }

                                document.getElementById("go").onclick = () => {
                                    let ids = '';
                                    console.log(categories);
                                    for (let c in categories) {
                                        console.log(categories[c]);
                                        let data = JSON.parse(localStorage.getItem(categories[c].name));
                                        ids += data + '|'
                                    }
                                    ids = ids.slice(0, ids.length - 1)
                                    console.log(ids);
                                    window.location.href = "/cart?ids=" + ids;
                                }
                            </script>
                            <%- include("../templates/footer.ejs") %>

            </main>
    </body>


</html>