<!DOCTYPE html>
<html lang="en">

<%- include("../../templates/head.ejs" , {title: 'Outlets' }) %>


    <body class="bg-gradient-to-b from-pink-400 via-white to-gray-700 bg-no-repeat" style="scrollbar-width: none;">

        <%- include("../../templates/header.ejs") %>

            <main class="relative flex flex-col lg:flex-row  lg:p-5 py-5 w-full">

                <section class="w-full lg:w-1/5 px-5 py-5 border-r-2 border-pink-500">
                    <%- include("../../templates/dashboardSidebar.ejs" , {selected: 'outlets' }) %>
                </section>

                <section class="relative flex flex-col flex-wrap w-full px-5 pt-8 overflow-x-scroll ">

                    <div>
                        <ul class="flex text-white font-bold">
                            <li class="flex bg-pink-500 rounded-lg h-fit hover:bg-pink-400 mx-2">
                                <button class="flex focus:outline-none p-2 px-3" onclick="filterButton()">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" class="feather feather-filter">
                                        <polygon points="22 3 2 3 10 12.46 10 19 14 21 14 12.46 22 3"></polygon>
                                    </svg>
                                    Filter
                                </button>
                            </li>
                            <li class="flex bg-pink-500  rounded-lg h-fit hover:bg-pink-400 mx-2">
                                <button class="flex focus:outline-none p-2 px-3" onclick="addButton()">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" class="feather feather-plus">
                                        <line x1="12" y1="5" x2="12" y2="19"></line>
                                        <line x1="5" y1="12" x2="19" y2="12"></line>
                                    </svg>
                                    Add
                                </button>
                            </li>
                        </ul>

                        <script>
                            function filterButton() {
                                let div = document.querySelector("#filterDiv")
                                div.classList.toggle('hidden')
                            }
                            function addButton() {
                                let div = document.querySelector("#addDiv")
                                div.classList.toggle('hidden')
                            }
                        </script>
                    </div>
                    <div id="filterDiv" class="absolute flex flex-col items-center justify-center w-full h-auto hidden">
                        <div class=" bg-black flex flex-col w-full lg:w-1/3  px-10 py-5 h-full">
                            <div class="relative ">
                                <button class="absolute right-0 mx-5" onclick="filterButton()">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                        fill="none" stroke="white" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" class="feather feather-x">
                                        <line x1="18" y1="6" x2="6" y2="18"></line>
                                        <line x1="6" y1="6" x2="18" y2="18"></line>
                                    </svg>
                                </button>
                            </div>

                            <div class="text-white  font-bold text-xl w-full text-center py-3">Filter</div>
                            <label class="text-white" for="id">Enter Pincode</label>
                            <input type="text" id="orderId" class="w-full p-3 my-2" placeholder="Pincode here" value="">

                            <label class="text-white" for="outletId">Enter Outlet Id</label>
                            <input type="text" id="outletId" class="w-full p-3 my-2" placeholder="Outlet ID here"
                                value="">

                            <label class="text-white" for="outletName">Enter Outlet Name</label>
                            <input type="text" id="outletName" class="w-full p-3 my-2" placeholder="Outlet Name here"
                                value="">

                            <label class="text-white" for="status">Select Status</label>
                            <select name="status" id="status" class="w-full p-3 my-2">
                                <option value="" selected class="bg-gray-300">
                                    Not selected
                                </option>
                                <option value="true" class="bg-gray-300">
                                    Active
                                </option>
                                <option value="false" class="bg-gray-300">
                                    Inactive
                                </option>

                            </select>


                            <button class="bg-gray-300 rounded-lg px-3 py-2 w-fit " id="FilterButton">
                                Submit
                            </button>
                            <script>
                                let button = document.getElementById('FilterButton')
                                let id = JSON.parse(localStorage.getItem('halls-user')).id
                                button.addEventListener('click', async (e) => {
                                    let pincode = document.getElementById('pincode').value
                                    let outletId = document.getElementById('outletId').value
                                    let outletName = document.getElementById('outletName').value
                                    let status = document.getElementById('status').value

                                    //sortAnchor.href = `/admin/products?id=${id}&ctg=all`
                                    let other = ''

                                    if (orderId) other += '&pincode=' + pincode
                                    if (outletId) other += '&outletId=' + outletId
                                    if (outletId) other += '&outletName=' + outletName
                                    if (status) other += '&status=' + status

                                    window.location.href = `/admin/outlets?id=${id}${other}`

                                    filterButton()

                                })
                            </script>
                        </div>
                    </div>
                    <div id="addDiv" class="absolute flex flex-col items-center justify-center w-full h-auto hidden">
                        <div class="absolute top-2 text-center w-full flex items-center justify-center z-50 ">
                            <div id="statusOfApiCall" class="max-w-sm px-5 py-3 rounded"></div>
                        </div>
                        <div class=" bg-black flex flex-col w-full lg:w-1/3  px-10 py-5 h-full">
                            <div class="relative ">
                                <button class="absolute right-0 mx-5" onclick="addButton()">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                        fill="none" stroke="white" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" class="feather feather-x">
                                        <line x1="18" y1="6" x2="6" y2="18"></line>
                                        <line x1="6" y1="6" x2="18" y2="18"></line>
                                    </svg>
                                </button>
                            </div>

                            <div class="text-white  font-bold text-xl w-full text-center py-3">Add/Edit Outlet</div>

                            <label class="text-white" for="name">Enter Outlet Name</label>
                            <input type="text" id="name" name="name" class="w-full p-3 my-2"
                                placeholder="Outlet Name here" value="">

                            <label class="text-white" for="outlet_admin_mobile">Enter Admin Mobile</label>
                            <div class="text-xs text-yellow-500">(make sure that mobile number is same as in user
                                profile)</div>
                            <input type="text" id="outlet_admin_mobile" class="w-full p-3 my-2"
                                name="outlet_admin_mobile" placeholder="Outlet Admin Mobile here" value="">

                            <label class="text-white" for="outlet_service_cost">Enter outlet Service cost</label>
                            <input type="number" id="outlet_service_cost" name="outlet_service_cost"
                                class="w-full p-3 my-2" placeholder="Outlet service_cost here" value="">

                            <label class="text-white" for="pincode">Enter Your Area Pincode</label>
                            <input type="number" id="pincode" name="pincode" class="w-full p-3 my-2"
                                placeholder="Enter pincode here" value="" onchange="fetchAddressData(this)">


                            <label class="text-white" for="address">Select Address available for your Pincode </label>
                            <select name="address" id="address" class="w-full p-3 my-2">
                                <option value="select" selected>
                                    Select
                                </option>
                            </select>

                            <label class="text-white" for="image">Select Image </label>
                            <input type="file" name="image" accept="image/png" id="image"
                                class="w-full p-3 my-2 text-white placeholder:text-white" placeholder="Image here"
                                value="">

                            <button class="bg-gray-300 rounded-lg px-3 py-2 w-fit " id="addOutletFormButton">
                                Submit
                            </button>

                            <script>

                                let addOutletFormButton = document.getElementById('addOutletFormButton')
                                let adminId = JSON.parse(localStorage.getItem('halls-user')).id

                                addOutletFormButton.addEventListener('click', async (e) => {
                                    let name = document.getElementById('name').value
                                    let outlet_admin = document.getElementById('outlet_admin_mobile').value
                                    let outlet_service_cost = document.getElementById('outlet_service_cost').value
                                    let pincode = document.getElementById('pincode').value
                                    let address = document.getElementById('address').value
                                    let image = document.getElementById('image').files[0]

                                    if (!name || !outlet_admin || !outlet_service_cost || !address == "select" || !pincode || !image) {
                                        alert("please fill all the fields")
                                    } else {
                                        console.log(address);
                                        let data = new FormData();
                                        data.append("name", name)
                                        data.append("outlet_admin", outlet_admin)
                                        data.append("outlet_service_cost", outlet_service_cost)
                                        data.append("addressId", address)
                                        data.append("image", image ?? new Blob([""]), "image")
                                        data.append("added_by", adminId)

                                        let res = await fetch("/admin/outlets/create?id=" + adminId,
                                            {
                                                method: "post",
                                                body: data
                                            }).then((r) => r.json())
                                        addOutletFormButton.innerText ="Loading..."
                                        addOutletFormButton.disabled = true

                                        let statusDiv = document.querySelector("#statusOfApiCall")
                                        if (res.status == 200) {
                                            statusDiv.innerHTML = res.message
                                            statusDiv.style.background = "green"
                                            setTimeout(() => {
                                                addButton()
                                            }, [5000])
                                            addOutletFormButton.innerText ="Added"

                                        } else {
                                            statusDiv.innerHTML = "Error :" + res.error
                                            statusDiv.style.background = "red"
                                            addOutletFormButton.innerText ="Submit"
                                            addOutletFormButton.disabled = false
                                        }
                                        setTimeout(() => {
                                            statusDiv.innerHTML = ""
                                            statusDiv.style.background = "transparent"
                                        }, [5000])
                                    }

                                })



                                async function fetchAddressData(e) {
                                    let pincode = e.value
                                    let addr = await fetch("/addressData/pincode?pincode=" + pincode).then(r => r.json())
                                    let addrSelectEle = document.querySelector("#address")
                                    addrSelectEle.innerHTML = `
                                    <option value="select" selected>
                                        Select
                                    </option>
                                    `
                                    if (addr.length > 0) {
                                        for (let i of addr) {
                                            addrSelectEle.innerHTML += `
                                            <option value=${i.id}>
                                            ${i.state}, ${i.city}, ${i.place}, ${i.pincode}
                                            </option >`
                                        }
                                    } else {
                                        alert('No address found for your pincode')
                                    }
                                }
                            </script>
                        </div>
                    </div>

                    <div class='py-5 w-full '>
                        <% if(outlets.length>0){ %>
                            <table class="table-auto overflow-scroll w-full">
                                <thead class="border-b bg-pink-600">
                                    <tr>
                                        <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                                            ID
                                        </th>
                                        <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                                            Name
                                        </th>
                                        <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                                            Admin
                                        </th>
                                        <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                                            Pincode
                                        </th>
                                        <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                                            Service_cost
                                        </th>
                                        <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                                            Active
                                        </th>
                                        <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                                            Created on
                                        </th>
                                        <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                                            Total Orders
                                        </th>
                                        <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                                            Edit
                                        </th>
                                        <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                                            Delete
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% for(let i=0 ; i< outlets.length ; i++){ %>

                                        <tr class="border-b bg-white">
                                            <td class="text-sm text-gray-900 font-light px-6 py-2 whitespace-nowrap">
                                                <%= outlets[i].id %>
                                            </td>
                                            <td
                                                class="text-sm text-gray-900 font-light px-6 py-2 whitespace-nowrap max-w-xs truncate">
                                                <%= outlets[i].name %>
                                            </td>
                                            <td class="text-sm text-gray-900 font-light px-6 py-2 whitespace-nowrap">
                                                <%= outlets[i].admin %>

                                            </td>
                                            <td class="text-sm text-gray-900 font-light px-6 py-2 whitespace-nowrap">
                                                <%= outlets[i].pincode %>
                                            </td>
                                            <td class="text-sm text-gray-900 font-light px-6 py-2 whitespace-nowrap">
                                                <%= outlets[i].service_cost %>₹
                                            </td>
                                            <td class="text-sm text-gray-900 font-light px-6 py-2 whitespace-nowrap">
                                                <% if(outlets[i].status){ %>
                                                    <span
                                                        class="text-white bg-green-500 rounded-xl px-2 py-1">Active</span>
                                                    <% }else if(!outlets[i].status){ %>
                                                        <span
                                                            class="text-white bg-red-500 rounded-xl px-2 py-1">Inactive</span>
                                                        <% }%>
                                            </td>
                                            <td class="text-sm font-light px-6 py-2 whitespace-nowrap">

                                                <%= outlets[i].date.toString().substring(0 , 16) %>
                                            </td>
                                            <td
                                                class="text-sm text-center px-6 py-2 whitespace-nowrap font-bold text-green-500">
                                                <%= outlets[i].orders_count?? 0 %>
                                            </td>
                                            <td class="text-sm text-gray-900 font-light px-6 py-2 whitespace-nowrap">
                                                <button onclick="editOutlet(this)" data-id="<%= outlets[i].id %>">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                        viewBox="0 0 24 24" fill="none" stroke="gray" stroke-width="2"
                                                        stroke-linecap="round" stroke-linejoin="round"
                                                        class="feather feather-edit">
                                                        <path
                                                            d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7">
                                                        </path>
                                                        <path
                                                            d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z">
                                                        </path>
                                                    </svg>
                                                </button>
                                            </td>
                                            <td class="text-sm text-gray-900 font-light px-6 py-2 whitespace-nowrap">
                                                <button onclick="deleteOutlet(this)" data-id="<%= outlets[i].id %>">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                        viewBox="0 0 24 24" fill="none" stroke="red" stroke-width="2"
                                                        stroke-linecap="round" stroke-linejoin="round"
                                                        class="feather feather-trash-2">
                                                        <polyline points="3 6 5 6 21 6"></polyline>
                                                        <path
                                                            d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2">
                                                        </path>
                                                        <line x1="10" y1="11" x2="10" y2="17"></line>
                                                        <line x1="14" y1="11" x2="14" y2="17"></line>
                                                    </svg>
                                                </button>
                                            </td>

                                        </tr>
                                        <% } %>
                                </tbody>
                            </table>

                            <%}else{%>

                                <div class="flex items-center justify-center px-5 py-3 bg-red-500 text-white">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" class="feather feather-frown">
                                        <circle cx="12" cy="12" r="10"></circle>
                                        <path d="M16 16s-1.5-2-4-2-4 2-4 2"></path>
                                        <line x1="9" y1="9" x2="9.01" y2="9"></line>
                                        <line x1="15" y1="9" x2="15.01" y2="9"></line>
                                    </svg>
                                    <span class="px-2">
                                        No Outlets exits
                                    </span>
                                </div>
                                <%}%>
                </section>

            </main>
            <%- include("../../templates/footer.ejs") %>
    </body>
    <script>
        async function editOutlet(ele) {
            let outletId = ele.getAttribute('data-id')
            let userId = JSON.parse(localStorage.getItem('halls-user')).id
            let redirectUrl = `/ admin / outlets / ${outletId} /edit/${userId} `
            window.open(redirectUrl)
        }

        async function deleteOutlet(ele) {
            let cnf = confirm('Are you sure?')
            if (cnf) {
                let id = ele.getAttribute('data-id')
                console.log(ele);
                let userId = JSON.parse(localStorage.getItem('halls-user')).id
                let res = await fetch(`/admin/outlets/${id}/delete/${userId}`, { method: "delete" }).then(r => r.json())
                if (res.status == 200) {
                    window.location.reload()
                } else {
                    alert('Something went wrong? try again')
                }
            }
        }
    </script>

</html>